body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/********* HEADER *********/
header {
    background-color: #579c87;
    padding-top: 1%;
    padding-bottom: 1%;
}

header h1 a {
    display: flex;
    justify-content: center;
    color: #fbcc46;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: -0.3rem;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/******* MAIN MENUS *******/

.main_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.zoom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    transition: transform .5s ease;
}

.zoom:hover {
    transform: scale(1.1);
    transition: transform 0.8s;
    opacity: 0.6;
}

.menu_1,
.menu_2,
.menu_3,
.menu_4 {
    margin: 50px;
}

.menu_1 {
    background: #fcdfdb;
    width: 350px;
    height: 480px;
    box-shadow: 0 0 10px #bbba;
    text-align: center;
    font-family: 'Devonshire', cursive;
}

.menu_1 h2 {
    color: #3d1319;
    font-size: 2.2rem;
    font-weight: 100;
}

.menu_1 h3 {
    font-family: 'Itim', cursive;
    color: #3d1319;
    font-size: 3rem;
    font-style: italic;
    font-weight: 100;
    margin-top: 0;
}

.fa-music {
    background: -webkit-linear-gradient(90deg, rgba(240, 87, 97, 1) 0%, rgba(246, 145, 106, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}

.menu_2 {
    background: #fff5fe;
    width: 350px;
    height: 480px;
    box-shadow: 0 0 10px #bbba;
    text-align: center;
    font-family: 'Croissant One', cursive;
}

.menu_2 h2 {
    font-weight: 100;
    font-size: 1.7rem;
    background: linear-gradient(132deg, rgba(227, 138, 18, 1) 0%, rgba(179, 140, 254, 1) 64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_2 h3 {
    font-family: 'DM Serif Text', serif;
    font-weight: 100;
    font-size: 3rem;
    color: #cb802f;
    margin-top: 0;
}

.menu_3 {
    background: #f9f9f9;
    width: 350px;
    height: 480px;
    box-shadow: 0 0 10px #bbba;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.menu_3 h3,
.menu_4 h3 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 3rem;
    font-weight: 100;
    font-style: italic;
    margin-top: 0;
}

.menu_3 h2 {
    font-size: 2.2rem;
    font-weight: 100;
    background: linear-gradient(90deg, rgba(11, 49, 222, 1) 0%, rgba(106, 181, 250, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_3 h3 {
    color: #0887fb;
}

.menu_4 {
    background: #f9f9f9;
    width: 350px;
    height: 480px;
    box-shadow: 0 0 10px #bbba;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

.menu_4 h2 {
    font-size: 2.2rem;
    font-weight: 100;
    background: linear-gradient(102deg, rgba(62, 146, 58, 1) 0%, rgba(190, 255, 127, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_4 h3 {
    color: #72bf56
}

/******* SOON BUTTON *******/
.text_soon {
    font-family: 'Montserrat', sans-serif;
    color: #fcca46;
    background-color: #569c87;
    font-size: 1.6rem;
    padding: 15px 25px;
    border-radius: 10px;
    margin-bottom: 8%
}

.soon {
    display: flex;
    justify-content: center;
    margin: 60px;
}

.dot_1,
.dot_2,
.dot_3 {
    display: inline-block
}

@keyframes dot {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

.dot_1 {
    font-size: 2em;
    height: auto;
    margin-top: -50px;
    animation-name: dot;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-timing-function: ease-in-out;
}

.dot_2 {
    font-size: 2em;
    height: auto;
    margin-left: -5px;
    margin-top: -50px;
    animation-name: dot;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-timing-function: ease-in-out;
    animation-delay: 400ms;
}

.dot_3 {
    font-size: 2em;
    height: auto;
    margin-left: -5px;
    margin-top: -50px;
    animation-name: dot;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-timing-function: ease-in-out;
    animation-delay: 800ms;
}

/******* FOOTER *******/

footer {
    background-color: #579c87;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #a1c181;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer a {
    color: #fbcc46;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 4%;
    padding-right: 4%;
}

footer a:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/******* MENTIONS *******/
.mentions {
    font-family: "Montserrat", sans-serif;
    margin-top: 3%;
    margin-right: 10%;
    margin-bottom: 15%;
    margin-left: 10%;
}



/******** MENU NOTE ********/

.main_note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background: #fcdfdb;
    width: 800px;
    height: 1000px;
    box-shadow: 0 0 20px #bbba;
    padding-top: 20px;
    color: #3d1319;
    font-family: 'Itim';
    margin-top: 2%;
    margin-bottom: 13%;
}

.titre_note {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 100;
    font-family: 'Devonshire', cursive;
}

.footer_note {
    display: flex;
    justify-content: center;
    font-family: 'Devonshire', cursive;
}

.footer_note h3 {
    font-size: 2rem
}

.footer_note .fa-music {
    padding-right: 20px;
    margin-top: 30px;
}

li {
    padding-left: 40px;
    padding-right: 40px;
    list-style-type: none;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

ul {
    padding-left: 0px;
}

.line_left,
.line_right {
    display: flex;
    flex-direction: row;
}

span {
    float: right;
}

.titre_menu_note img {
    width: 280px;
    height: 20px;
    padding-top: 30px
}

.titre_menu_note {
    display: flex;
    justify-content: space-around
}

/********* TITRE SOULIGNÉ MENU NOTE *********/

.titre_menu_note h3 {
    position: relative;
    font-size: 1.5em;
}

.titre_menu_note h3:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #3d1319;
    transition: width .4s ease;
    -webkit-transition: width .4s ease;
}

.titre_menu_note h3:hover:after {
    width: 100%;
    left: 0;
    background: #3d1319;
}

/*********** MENU CHIC *********/
.main_chic {
    margin: auto;
    margin-bottom: 15%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff5fe;
    width: 800px;
    height: 1000px;
    box-shadow: 0 0 20px #bbba;
    font-family: 'DM Serif Text';
    padding-bottom: 5%
}

.titre_chic {
    background: #fff5fe;
    text-align: center;
    font-family: 'Croissant One', cursive;
    font-weight: 100;
    font-size: 1.7rem;
    background: linear-gradient(132deg, rgba(227, 138, 18, 1) 0%, rgba(179, 140, 254, 1) 64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titre_menu_chic_1 {
    color: #d3904b;
}

.titre_menu_chic_2 {
    color: #a56799;
}

.titre_menu_chic_3 {
    color: #6e4ccc;
}

.menu_jaune {
    color: #d3904b;
}

.menu_rose {
    color: #a56799;
}

.menu_violet {
    color: #6e4ccc;
}

.titre_menu_chic_1,
.titre_menu_chic_2,
.titre_menu_chic_3 {
    display: flex;
    justify-content: space-around;
    padding-top: 5%
}

.titre_menu_chic_1 img,
.titre_menu_chic_2 img,
.titre_menu_chic_3 img {
    width: 250px;
    height: 20px;
    padding-top: 22px
}

/************ TITRE SOULIGNE MENU CHIC **********/
.titre_menu_chic_1 h3 {
    position: relative;
    font-size: 1.3em;
}

.titre_menu_chic_1 h3:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #d3904b;
    transition: width .4s ease;
    -webkit-transition: width .4s ease;
}

.titre_menu_chic_1 h3:hover:after {
    width: 100%;
    left: 0;
    background: #d3904b;
}

.titre_menu_chic_2 h3 {
    position: relative;
    font-size: 1.3em;
}

.titre_menu_chic_2 h3:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #a56799;
    transition: width .4s ease;
    -webkit-transition: width .4s ease;
}

.titre_menu_chic_2 h3:hover:after {
    width: 100%;
    left: 0;
    background: #a56799;
}

.titre_menu_chic_3 h3 {
    position: relative;
    font-size: 1.3em;
}

.titre_menu_chic_3 h3:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #6e4ccc;
    transition: width .4s ease;
    -webkit-transition: width .4s ease;
}

.titre_menu_chic_3 h3:hover:after {
    width: 100%;
    left: 0;
    background: #6e4ccc;
}

/************ MENU DELICE ************/

.main_delice {
    margin: auto;
    margin-bottom: 15%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    width: 800px;
    height: 1000px;
    box-shadow: 0 0 20px #bbba;
    font-family: 'Itim';
    color: grey;
    padding-bottom: 5%
}

.titre_delice {
    background: #EDEFEF;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2.2rem;
    font-weight: 100;
    background: linear-gradient(90deg, rgba(11, 49, 222, 1) 0%, rgba(106, 181, 250, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titre_menu_del {
    color: grey;
    display: flex;
    justify-content: space-around;
    padding-top: 5%
}

.titre_menu_del img {
    width: 250px;
    height: 20px;
    padding-top: 22px
}

/************ TITRE SOULIGNE MENU DELICE **********/
.titre_menu_del h3 {
    position: relative;
    font-size: 1.3em;
}

.titre_menu_del h3:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: grey;
    transition: width .4s ease;
    -webkit-transition: width .4s ease;
}

.titre_menu_del h3:hover:after {
    width: 100%;
    left: 0;
    background: grey;
}

/************ MENU PALETTE ************/

.main_palette {
    margin: auto;
    margin-bottom: 15%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    width: 800px;
    height: 1000px;
    box-shadow: 0 0 20px #bbba;
    font-family: 'Itim';
    color: grey;
    padding-bottom: 5%;
}

.titre_palette {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.2rem;
    font-weight: 100;
    background: linear-gradient(102deg, rgba(62, 146, 58, 1) 0%, rgba(190, 255, 127, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titre_menu_pal {
    color: grey;
    display: flex;
    justify-content: space-around;
    padding-top: 5%
}

.titre_menu_pal img {
    width: 250px;
    height: 20px;
    padding-top: 22px
}

/************ TITRE SOULIGNE MENU PALETTE **********/
.titre_menu_pal h3 {
    position: relative;
    font-size: 1.3em;
}

.titre_menu_pal h3:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: grey;
    transition: width .4s ease;
    -webkit-transition: width .4s ease;
}

.titre_menu_pal h3:hover:after {
    width: 100%;
    left: 0;
    background: grey;
}



/********* PARTIE RESPONSIVE small screen **********/
@media screen and (max-width: 767px) {
    .main_menu {
        margin: 30px
    }

    header h1 a {
        font-size: 2.3rem;
        letter-spacing: -0.2rem;
    }

    .menu_1,
    .menu_2,
    .menu_3,
    .menu_4 {
        margin: 10px;
         width: 290px;
        height: 400px;
    }

    .text_soon {
        font-size: 1.2rem;
    }

    footer a {
        font-size: 1.1rem;
    }

    /** responsive menu note **/
    .main_note {
        width: 320px;
        height: 1250px;
        margin-bottom: 60px;
        margin-top: 20px;
    }

    .titre_note h2 {
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 2rem;
    }

    .titre_menu_note img {
        width: 70px;
        height: 10px;
        padding-top: 35px;
    }

    .footer_note h3 {
        font-size: 1.8rem;
    }

    .titre_note .fa-music {
        font-size: 2rem
    }

    .footer_note .fa-music {
        padding-right: 20px;
        margin-top: 30px;
        font-size: 2rem;
    }

    /** responsive menu chic **/
    .main_chic {
        width: 340px;
        height: 1100px;
        margin-bottom: 60px;
        margin-top: 20px;
    }

    .titre_menu_chic_1 img,
    .titre_menu_chic_2 img,
    .titre_menu_chic_3 img {
        width: 70px;
        height: 10px;
        padding-top: 22px;
    }

    .titre_menu_chic_1,
    .titre_menu_chic_2,
    .titre_menu_chic_3 {
        font-size: 0.8rem;
    }

    li {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .titre_chic h2 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    /** responsive menu delice **/
    .main_delice {
        width: 320px;
        height: 1000px;
        margin-bottom: 60px;
        margin-top: 20px;
    }

    .titre_menu_del img {
        width: 70px;
        height: 10px;
        padding-top: 22px;
    }

    .titre_menu_del {
        font-size: 0.8rem
    }

    .titre_delice h2 {
        font-size: 2rem;
    }

    /** responsive menu palette **/
    .main_palette {
        width: 320px;
        height: 1050px;
        margin-bottom: 60px;
        margin-top: 20px;
    }

    .titre_menu_pal img {
        width: 70px;
        height: 10px;
        padding-top: 22px;
    }

    .titre_menu_pal {
        font-size: 0.8rem
    }

    .titre_palette h2 {
        font-size: 2rem;
    }
}

/****** MEDIA QUERY tablet size ******/

@media screen and (min-width: 768px) and (max-width:1025px) {
    .main_menu {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .menu_1,
    .menu_2,
    .menu_3,
    .menu_4 {
        margin: 20px;
        width: 300px;
        height: 430px;
    }
     /** responsive menu note **/
    .main_note {
        width: 550px;
        height: 1050px;
        margin-bottom: 100px;
        margin-top: 20px;
    }

    .titre_note h2 {
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 2.5rem;
    }

    .titre_menu_note img {
        width: 150px;
        height: 10px;
        padding-top: 35px;
    }

    .footer_note h3 {
        font-size: 1.8rem;
    }

    .titre_note .fa-music {
        font-size: 2rem
    }

    .footer_note .fa-music {
        padding-right: 20px;
        margin-top: 30px;
        font-size: 2rem;
    }

    /** responsive menu chic **/
    .main_chic {
        width: 550px;
        height: 950px;
        margin-bottom: 100px;
        margin-top: 20px;
    }

    .titre_menu_chic_1 img,
    .titre_menu_chic_2 img,
    .titre_menu_chic_3 img {
        width: 150px;
        height: 10px;
        padding-top: 22px;
    }

    .titre_menu_chic_1,
    .titre_menu_chic_2,
    .titre_menu_chic_3 {
        font-size: 0.8rem;
    }

    li {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .titre_chic h2 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    /** responsive menu delice **/
    .main_delice {
        width: 550px;
        height: 950px;
        margin-bottom: 100px;
        margin-top: 20px;
    }

    .titre_menu_del img {
        width: 150px;
        height: 10px;
        padding-top: 22px;
    }

    .titre_menu_del {
        font-size: 0.8rem
    }

    .titre_delice h2 {
        font-size: 2.5rem;
    }

    /** responsive menu palette **/
    .main_palette {
        width: 550px;
        height: 950px;
        margin-bottom: 100px;
        margin-top: 20px;
    }

    .titre_menu_pal img {
        width: 120px;
        height: 10px;
        padding-top: 22px;
    }

    .titre_menu_pal {
        font-size: 0.8rem
    }

    .titre_palette h2 {
        font-size: 2.5rem;
    }
}
/****** MEDIA QUERY large screen size ******/
@media screen and (min-width: 1024px){

    .menu_1,
    .menu_2,
    .menu_3,
    .menu_4 {
        margin: 100px;
        margin-bottom: 30px;
        width: 300px;
        height: 450px;
    }
}
